{% from "_render_field.html" import render_field %}
{% extends "base.html" %}
{% block mainblock %}
<div class="card-header">
  <h2 style="font-weight: bold">Login</h2>
</div>
<div class="card-body">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li style="color:red;">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <form action="/login" method="post">
    {{ render_field(form.email, type="email", placeholder="Enter email", id="email") }}
    {{ render_field(form.password, type="password", placeholder="Enter password", id="pwd") }}
    {{ form.hidden_tag() }}
    <div>
      <label class="col-12">
        <input type="checkbox" name="checkbox" value="1"> Remember Me
      </label>
    </div>
    <button type="submit" class="btn btn-primary" , value="login">Submit</button>
  </form>
</div>
{% endblock %}
