{% extends "dashboard.html" %}
{% block mainblock %}
<div class="card-header">
  <h3 style="font-weight: bold">{{ card_header }}</h3>
</div>
<div class="card-body">
  <div class="chart-container" style="position: relative; height:50vh; width:100%">
    <canvas id="bar_chart" width="400" height="300"></canvas>
  </div>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='js/dashboard_barchart_hotel.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_barchart_user.js') }}"></script>
{% endblock %}
